version: 1
formatters:
  standard:
    format: "%(asctime)s - %(name)s - %(levelname)s - %(message)s"
handlers:
  console:
    class: logging.StreamHandler
    formatter: standard
    level: INFO
loggers:
  phish_agent:
    level: INFO
    handlers: [console]
    propagate: no
root:
  level: INFO
  handlers: [console]
